/*------------- NAVIGATION BAR -------------------*/

.logo-container {
    margin: 30px 45px;
  }
  
  .logo {
    width: 250px;
    height: auto;
    margin-left: 50px;
  }
  
  .bm-menu {
    background: #525252 !important;
    height: 380px !important;
  }
  .bm-menu a {
    color: #b8b7ad;
  }
  .bm-menu a:hover {
    color: #ffffff;
    font-weight: 900;
  }
  
  .bm-item-list {
    height: 50% !important;
  }
  
  .bm-item-list a {
    padding: 0.8em;
    text-decoration: none;
  }
  .bm-item-list a span {
    margin-left: 10px;
    font-weight: 700;
  }
  .bm-item:focus {
    outline: none;
  }
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 30px;
    height: 25px;
    right: 60px;
    top: 36px;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #4d4d4d;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #949494;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
  }
  
  .button {
    margin: 20px;
    font-size: 1rem;
    padding: 6px 20px;
    cursor: pointer;
    overflow: visible;
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
    border-radius: 10px;
    border-color: rgb(173, 173, 173);
    border-style: solid;
    background-color: rgb(173, 173, 173);
  }
  
  .button:hover {
    background-color: rgb(121, 121, 121);
    border-color: rgb(121, 121, 121);
    border-style: solid;
  }
  
  nav img {
    width: 6rem;
  }
  
  nav ul {
    width: 100%;
    display: grid;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  nav ul:first-of-type{
    grid-template-columns: 1fr;
  }
  
  nav ul:first-of-type li{
    font-size: 1.4rem;
    font-weight: bold;
    text-indent: 30px;
  }
  
  nav ul:first-of-type li span {
    font-weight: 500;
    color: #444;
  }
  
  nav ul:last-of-type{
    grid-template-columns: repeat(3, 1fr);
  
  }
  
  nav ul li a, nav ul li a:visited{
    color:#111;
    text-decoration: none; 
    font-weight: bold;
    display: block;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }